/*Start of book element block*/
.bookBlock{
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 21%;
    overflow: hidden;
    border-radius: 5px;
    overflow: hidden;
}
.bookImage{
    height: auto;
    display: block;
   
    width: 100%;
}
.image{
    height: inherit;
    width: 100%;
}
.bookDiscription{
    display: block;
    padding: 0 2rem 2.5rem 2rem;
    width: 100%;
}
.mainImage
{
    height: 250px;

}
.bookDiscription .discrPoint{
    font-size: 1.25rem;
    padding-bottom: 2rem;
    color: #777;
    font-size: 1.2rem;
}

.bookDiscription .discrPoint:first-child{
    font-size: 1.75rem;
    font-weight: bold;
    color: #000
}

.bookbutton{
    display: inline-block;
    background-color: rgb(49, 136, 177);
    border: 1px rgb(49, 136, 177) solid;
    text-align: center;
    padding: 1rem 5rem;
    margin-bottom:30px;
    border-radius: 5px;
    color: #fff;
    transition: all .25s;
    cursor: pointer;
    text-decoration: none
}

.bookbutton:hover{
    background-color: #fff;
    color: rgb(49, 136, 177);
}
/*End of book element block*/
.BookMin
{
    display: flex;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

/*Start of header block*/
.Header {
    width: 100%;
    background: #303745;
    padding-left: 11%;
    padding-right: 11%;
}
.headerText
{
    padding-top: 0rem;
    padding-bottom: 1rem;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
}

.headerLogo
{
    display: inline-block;
    margin-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.headerMakkou
{
    height: 4rem;
}

.headerLogo a{
    color: #fff;
    text-decoration: none
}

.container,
.chapterText{
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.book{
    max-width: 45%;
}

.book-addition-info{
    max-width: 55%;
}

.book_bootom{
    padding-top: 3rem;
    width: 100%;
}

.book_bootom h2{
    margin-bottom: 1rem;
    font-size: 1.75rem;
}

.book_bootom .discrPoint{
    margin-bottom: 3rem;
    font-size: 1.2rem;
}

.single-book{
    padding-top: 1rem;
    padding-bottom: 5rem;
}

.single-book .discrPoint{
    text-align: left
}

.chapters_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.chapter{
    flex: 0 0 20%;
    padding: 2rem 2rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    
    color: #222;
    text-decoration: none;
    background-color: rgba(226, 226, 226,0);
    border:solid rgba(226,226,226,0);
    transition: all .25s;
    
}

.chapter:hover{
    border: solid #47cf73 1px;
    color: #47cf73;
}

.chapter div{
    text-align: center;
    font-weight: 900;
    font-size: 1rem;
    padding-top: 0.75rem;
  
}

.chapter div:last-child{
    color: #777;
    font-weight: 500;
    font-size: 1rem;
}

.card-1,
.chapterText .btns a:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover,
  .chapterText .btns a:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .chapterText h1{
      text-align: center;
      padding-top: 1.5rem;
      margin-bottom: 3rem;
      width: 100%;
  }

  .chapterText p{
      max-width: 60%;
      margin: 0 auto;
  }

  .chapterText .btns{
      width: 100%;
      padding-top: 1rem;
      padding-bottom: 3rem;
      display: flex;
      justify-content: center;
  }

  .chapterText .btns a{
    padding: .5rem 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    border: solid #222 2px;
    color: #222;
    text-decoration: none;
    transition: all .25s;
  }

  .chapterText .btns a:hover{
    border: solid #47cf73 2px;
    color: #47cf73;
  }