body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.App{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: 100%;
  
}
.SideBar{
  padding-top: 10rem;
  background-color:#303745;
  align-content: center;
  padding-right: 1rem;
  padding-left: 1rem;
}
.SideBar a{
  text-decoration: none;
  color: white;
  font: 1.2em sans-serif;
  line-height: 200%;
}
.itemCol{
  background-color: dimgray;
  width: 100%;
  
}
.Item{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  color: white;
  margin-left: 3rem;
  margin-right: 3rem;
}
.item-button {
 color:white;
 border-radius: 10px;
 background-color: #303745;
 border: 0px;
 width: 100px;
}